.layout{
    display:grid;
    height: 100vh;
    grid-template-columns: 0.22fr 1fr;
    grid-template-areas:
      "side mid"
    ;
    gap: 0.5rem;
  }
  .sidebar{
    grid-area: side;
  }
  .mid{
    grid-area: mid;
    background-color: #F4F7FE;
    ;
  }
.mainlayout{
    display:grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "wel discuss"
      "course tnt"
    ;
    gap: 1rem;
  }

  .inslayout{
    display:grid;
    height: 100vh;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
      "wel"
      "course"
      "chart"
    ;
    gap: 0.5rem;

  }
  .welcome{
    grid-area: wel;
  }
  .disc{
    grid-area: discuss;
  }
  .course{
    grid-area: course;
  }
  .tnt{
    grid-area: tnt;
  }
  .chart{
    grid-area: chart;
  }

  